/ boxes
.main-container.holder
  %center
    %h1 MISSION STATEMENT
  \&nbsp;
  %center
    %h2 A BETTER WAY TO DEFEND
  \&nbsp;
  %p
    N & A is an emergent law firm that is bringing a better way to defend general liability actions. Our focus is twofold:
    First; an effective and competent defense of the case at hand.
    Secondly; a commitment to minimizing legal costs.
    To that effect, we have implemented an innovative billing system that is a hybrid of task based and hourly billing systems. This new age system operates to provide a stellar defense while ensuring that the fees charged are commensurate with the profile of the case.
  %br/
  %p Unlike the larger firms whose practices and procedures have devolved to become a set of boiler plate responses that often do not account for the particular requirements of each individual case, we bring a personalized approach that is tailored to the specific demands of each individual case.  Of course, we also implement the client's guidelines regarding billing and reporting.
  %br/
  %p
    On reporting, we are committed to communicating concisely and in a timely manner with our clients. The object is to report often but in a concise manner and keep the client apprised of significant events and facts without repetition or replication. A compact presentation of significant information is to be preferred to a lengthy recital of the less impactful aspects of the case.
  %br/