.main-container.holder
  %center
    %h1 AREAS OF PRACTICE
  .practice-table
    .col.col3
      .title.black
        %h3 General Liability
      .holder
        %div
        \&nbsp;
        %h4 We handle general liability cases including all types of premises liability and general negligence actions, commercial liability cases, and homeowner claims. We also handle subrogation actions and indemnity actions when necessary.
    .col.col3
      .title.black
        %h3 Transportation Liability
      .holder
        %div
        \&nbsp;
        %h4 We provide a defense against automobile liability cases including third party auto liability actions and no fault matters.
    .col.col3
      .title.black
        %h3 Municipal Liability
      .holder
        %div
        \&nbsp;
        %h4 We handle the defense of all negligence claims against municipalities and municipal entities including premises liability and highway and other design defect liability.
    \&nbsp;
    ________________________________________________________________________________________________________________________________
  .practice-table
    .col.col3
      .title.black
        %h3 Product Liability
      .holder
        %div
        \&nbsp;
        %h4 Defending manufacturers against suits relating to claims of defectively designed or manufactured products.
    .col.col3
      .title.black
        %h3 Insurance Coverage Litigation
      .holder
        %div
        \&nbsp;
        %h4 We bring declaratory judgment actions and provide advise on insurance coverage, insurance coverage opinions, disclaimer letters.
    \&nbsp;
    .col.col3
      .title.black
        %h3 Appeals
      .holder
        %div
        \&nbsp;
        %h4 We offer our clients a very respectable appellate representation on all issues arising out of the cases that we handle, whether as an appellant or as the respondent. We provide clients with an even-handed opinion on the merits of each appeal, followed by competent representation when required.
    \&nbsp;
    ________________________________________________________________________________________________________________________________

  .practice-table
    .col.col3
      .title.black
        %h3 Toxic Tort Liability
      .holder
        %div
        \&nbsp;
        %h4 We offer a stellar defense against claims of injuries arising from lead paint, mold or other toxic environmental elements.
    .col.col3
      .title.black
        %h3 Civil Rights & Employment Discrimination Defense
      .holder
        %div
        \&nbsp;
        %h4 We represent municipalities, public corporations and private entities in the defense of claims of civil rights violations and employment discrimination.
    .col.col3
      .title.black
        %h3 Construction Liability
      .holder
        %div
        \&nbsp;
        %h4 We handle cases brought against owners, contractors and sub-contractors under New York's Labor Law including enforcement of indemnity claims between parties and declaratory judgment actions against those parties in breach of their obligations to our clients.
    \&nbsp;