.main-container.holder
  %center
    %h1 Contact Us
  .grid-cols
    .col50
      .col-holder
        %center
          %h1 Phone: (212) 785-1060
    .col50
      .col-holder
        %center
          %h1 Email: Direct@Nwokoroassociates.com
  .divider
  / grid-cols
  .grid-cols
    / col33
    .col33
      .col-holder
        %h3 MAIN OFFICE
        %dl
          82 Wall Street, Suite 610
          %br
            New York, New York 10005
            %br
              Telephone: (212) 785-1060
        .divider
        / contact
        %h4 BROOKLYN OFFICE
        %dl
          801 Franklin Avenue
          %br
            Brooklyn, New York 11238
            %br
        .divider
        / contact
        %h4 NEW JERSEY OFFICE
        %dl
          1 Eves Drive, Suite 111
          %br
            Marlton, New Jersey 08053
            %br
    / col67
    .col67
      .col-holder
        / post-box
        <article class="post-box"">
        / comment-form
        %form#cont_form.comment-form{:action => "#", :method => "post"}/
        %fieldset
          .meta
            %h3 Contact Us
          .row
            %label{:for => "username"} Your Name  (*)
            %span.text
              %input#username.text{:class => "validate[required]", :name => "username", :type => "text", :value => ""}/
          .row
            %label{:for => "email"} Your Email  (*)
            %span.text
              %input#email.text{:class => "validate[required,custom[email]]", :name => "email", :type => "text", :value => ""}/
          .row
            %label{:for => "subject"} Your Subject
            %span.text
              %input#subject.text{:name => "subject", :type => "text", :value => ""}/
          .row
            %label{:for => "message"} Your Message  (*)
            %span.textarea
              %textarea#message.w_focus{:class => "validate[required]", :cols => "30", :name => "message", :rows => "10"}
          .row
            %span.submit
              Send Email
              %input{:type => "submit", :value => "Send Email"}/
