- provide(:title, "Home")
/ main
\&nbsp;
%center
  %h1
    Nwokoro & Associates, P.C.
    Attorneys At Law
\&nbsp;
#main
  / FlexSlider with Thumbs
  .gallery
    .flexslider-container
      #slider.flexslider.holder
        %ul.slides
          %li
            %img{:alt => "", :src => "assets/wallstreetsign1.png"}/
          / items mirrored twice, total of 12
  / boxes
  .main-container.holder
    %center
      %h2 A BETTER WAY TO DEFEND
    \&nbsp;
    %h3 Nwokoro & Associates is a general liability defense law firm. We offer specialized legal services to insurance carriers, third party claim administrators and self-insured entities or individuals. We combine core competence, varied experience and industry knowhow with a new age ethical billing concept and individual handling of client matters tailored to the unique needs of each client.
    %br/