<!doctype>
<html>
<head>
	<title>New client contact message</title>
</head>
<body>
	<h1>Email Message Notification</h1>
	<h2> Subject: <%= @message.subject %></h2>
	<h2> Name: <%= @message.name %></h2>
	<h2> email: <%= @message.email %></h2>
	<p> Message: <%= @message.body %></p>
	</body>
</html>