
						<div class="grid-cols">
							  <div class="col25">
									<div class="col-holder">								
										&nbsp;
                                      
										<ul class="links">
                                            <li><a href="./about.html">ABOUT US</a></li>
											<li><a href="./ContactUs.php.html">CONTACT US</a></li>
											<li><a href="./Areas-of-Practice.html">AREAS OF PRACTICE</a></li>
										</ul>
									</div>
								</div>
                            
								<div class="col75">
									<div class="col-holder">
										   &nbsp;
										
										<dl>
											<dt>Telephone:</dt>
											<dd>(212) 785-10608</dd>
											<dt>E-mail:</dt>
											<dd><a href="mailto:Direct@Nwokoroassociates.com">Direct@Nwokoroassociates.com</a></dd>
										<address>
                                        <dt>Address:</dt>
											      <b>82 Wall Street, Suite 610, New York, New York 10005</b>
                                                  
										</address>
                                        </dl>
									</div>
								</div>
								
						
								<div class="by">
									&copy; Copyright 2013. <a href="#">Nwokoro & Associates, P.C.</a>. All right reserved.  
								</div>