#main
  / FlexSlider with Thumbs
  - if current_page?('/')
    \&nbsp;
  %center
    %h1
      Nwokoro & Associates, P.C.
      Attorneys At Law
    \&nbsp;
  .gallery
    .flexslider-container
      #slider.flexslider.holder
        %ul.slides
          %li
            = image_tag("wallstreetsign1.png")