#main
  / FlexSlider with Thumbs
  - if current_page?('/')
    \&nbsp;
    %center
      %h1
        #{law_firm_name}, P.C.
        Attorneys At Law
        .notice_success
          = flash[:notice]
      \&nbsp;
  .gallery
    .flexslider-container
      #slider.flexslider.holder
        %ul.slides
          %li
            = image_tag("wallstreetsign1.png")
