			
				<ul id="nav">
							<li class="active"><a href="./index.html">Home</a></li>						
							<li><a href="./about.html">About Us</a></li>
							<li><a href="./Areas-of-Practice.html">Areas of Practice</a></li>
							<li><a href="./Attorneys.html">Attorneys</a></li>
							<li><a href="./ContactUs.php.html">Contact Us</a></li>						
							<li><a href="./Blog.html">Blog</a></li>
									
						</ul>
						<select class="mobile-menu">
							<option value="index.html" />Home													
							<option value="about.html" />- About Us
							<option value="Areas-of-Practice.html" />- Areas of Practice
							<option value="Attorneys.html" />- Attorneys
							<option value="ContactUs.php" />- Contact Us
							<option value="Blog.html" />- Blog		
						</select>